.grid{
    display: inline-grid;
    padding: 10px;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto;
}
.grid .item{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 1px dotted black;
}
.grid .item_1{
    background-color: rgb(115, 244, 201);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 1px dotted black;
    grid-row: 1/span 2;
}